node_modules
.next
.git
.gitignore
.env
README.md
Dockerfile
backend
functions
firebase.json
firestore.rules
firestore.indexes.json
storage.rules
cors.json
npm-debug.log
yarn-debug.log
yarn-error.log
